@model List<Student>
<div class="container">
<div>
<a asp-controller="Student" asp-action="Create" class="btn btn-outline-success text-lg-end">Add New Student</a>
</div>
<h1 class="text-center">Students</h1>
<form asp-action="Index" asp-controller="Student" method="get">
    <div class="d-flex">
    <div class="m-2">
     <label>Name : </label>
     <input type="text" name="searchString"/>
        
       
    </div>
    <div class="m-2">
    <label>Batch : </label>
    <input type="number" name="batch"/>
                <input type="submit" value="search" />
                <input type="submit" value="All" asp-action="Index" />
    </div>
          
    </div>
      
</form>

  <table class="table">
      <thead>
        <tr class="d-xl-table-row">
          <th>
               First Name
          </th>
          <th>
               Last Name
            </th>
          <th>
              Phone Number
          </th>
          <th>
             Date Of Birth
          </th>
          <th>
              Batch
          </th>
          <th>

          </th>
        <th>

        </th>
        
          </tr>
     </thead>
     <tbody>
         
        @foreach(var student in Model)
        {

                <tr class="d-xl-table-row">
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.PhoneNumber</td>
                <td>@student.DateOfBirth</td>
                <td>@student.batch</td>
                <td>
                    <a class="btn btn-success" asp-controller="Student" asp-action="Edit" asp-route-Id="@student.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-Id="@student.Id">Delete</a>
                </td>
                
               
            </tr>
             
              
            
        }
       
   </tbody>
</table>


</div>
